ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
body {margin: 0;}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */

}
.topnav li a:hover:not(.active) {background-color: #111;}

.topnav li a.active {background-color: #04AA6D;}

.topnav li.right {float: right;}
@media screen and (max-width: 600px) {
  .topnav li.right,
  .topnav li {float: none;}
}

li {
  float: left;
  border-right:1px solid #bbb;
  }

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;


}
li:last-child {
  border-right: none;20
}
.last{
  float: right;
}
.fixed{
  /* style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;" */
  padding: 20px;
  margin-top: 30px;
  background-color: #1abc9c;
  height: 1500px;
}
